<style>
	.ui-page {
		background-image: url("img/fondo.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size:100% 100%;
	}
	.ui-content{
		background: transparent;
	}
	
	div.RegistroLogin{
		min-height: 100%;
		width: 50%;
		margin: auto;
		text-align: center;
	}
	
	.RegistroLogin #icono{
		background-color: #f44336;
		border: none;
		color: white;
		text-decoration: none;
		font-size: 20px;
	}
	
	.RegistroLogin  input, label{
		display: inline-block;
	}
	
	#buttonLink:link{
		text-decoration: none;
	}
	
	#buttonLink:visited{
		text-decoration: none;
	}
	
	#buttonLink:hover {
		text-decoration: none;
	}

	#buttonLink:active {
		text-decoration: none;
	}
	
	.info {
		min-width: 250px;
		min-height: 650px;
	}
	
</style>