html,
body
#login{
  height: 89%;
  margin: 0;
  padding: 0;
}


.ui-content {
  height: inherit;
  padding: 0;
}

.logo {
  margin-top: 5%;
  width: 100%;
}

.logo img{
  display : block;
  margin : auto;
  max-width: 200px;
  max-height: 150px;
}

.entradaContainer{
  width: 90%;
  margin: 0 auto;
  background-color: rgba(192, 192, 192, 0.8);
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.entrada {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10%;
  max-width: 350px;
  max-height: 250px;
}

.entradaOption{
  padding-top: 10px;
  margin: 0 auto;
  width: 75%;
}

a, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: white !important;
}
