.policiaContainer{
  width: 80vw;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}

.title{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
  border-radius: 4px;
}

.funcPolicia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.funcPoliciaMapa{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.policiaImage{
  max-width: 128px;
  max-height: 128px;
  margin-right: 10px;
  margin-left: 10px;
}

.policiaButton{
  margin-top: 15px;
  max-width: 250px;
}
