.tramitesContainer{
  max-width: 450px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 35px;

  background-color: white;
  border-radius: 10px;
}

.title{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
}

.subTitle{
  color: white;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
}

.tramite{
  margin: 20px 10px;

  border-radius: 10px;
  border: 2px solid black;
  background-color: #dbdbdb;
}

.tramite p{
  color: black;
  font-weight: normal;
  margin: 0 10px;
}

.tramiteImage{
  margin-top: 10px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.linkTramite{
  text-decoration: none;
}

.tramiteInfo{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: lighter;
}

.tramitesInputContainer{
  text-align: center;
  width: 50%;
  margin: auto;
}

.tramitesSubmit{
  width: 50%;
  margin: auto;
}

.info{
  padding-bottom: 15px;
}

.infoEstado{
  font-weight: lighter;
  font-size: 20px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.estado{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;

  width: 72px;
  height: 72px;
  max-width: 72px;
  max-height: 72px;

  border: 5px white solid;
	border-radius: 50%;
}

.estado p{
  color: white;
}

.finalizado{
  background-color: #9ece9a;
}

.enProceso{
  background-color: #ff9f1c;
}

.noIniciado{
  background-color: #e71d36;
}
