  div{
  }

  #logo{
    display : block;
    margin : auto;
    max-width: 200px;
    max-height: 200px;
  }

  .entradaContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
  }

  .insertContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  #icono{
    text-align: center;
    flex-basis: 0;
    min-width: 25%;
  }

  #user, #pass{
    min-width: 45%;
    flex-basis: 0;
  }

	#buttonLink:link{
		text-decoration: none;
	}

	#buttonLink:visited{
		text-decoration: none;
	}

	#buttonLink:hover {
		text-decoration: none;
	}

	#buttonLink:active {
		text-decoration: none;
	}

  .showSlider {
    width: 75%;
    margin: auto;
  }

  .showSlider span{
    padding: 20px;
  }

  #showContainer{
    display:flex;
    background-color: #bcac9b;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  #showInfo{
    margin: auto;
    margin-left: 5%;
  }

  #showInfoId{
    background-color: #e6aa68;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 0px;
    color: white;
  }

  #showInfoTitle{
    background-color: #ddc9b4;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 0px;
    color: white;
  }

  #showInfoNumSeasons{
    background-color: #c17c74;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px 0px;
    color: white;
  }
