.eventosContainer{
  max-width: 450px;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 35px;

  background-color: white;
  border-radius: 10px;
}

.title{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
  border-radius: 4px;
}

.searchCatalogo input{
  margin-left: 10px;
  margin-right: 10px;
}

.searchCatalogo button{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.title2{
  color: white;
  font-size: 16px;
  font-weight: lighter;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
  border-radius: 4px;
}

.mapContainer{
  width: 80%;
  height: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tiposEventos{
  padding-bottom: 20px;
}

.tiposEventosContainer{
  width: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.evento{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  padding: 15px;
}

.evento button, .evento a{
  width: 75%;
}

.eventoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5%;
  padding: 15px;
}

.eventoImage{
  width: 128px;
  height: 128px;
  max-width: 25vw;
	border-radius: 15%;
}
