.eventoContainer{
  width: 90vw;
  min-width: 375px;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
}

.title{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
}

.evento{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  min-width: 300px;

  margin: 20px 25px;
  padding: 20px;

  border-radius: 10px;
  border: 2px solid black;

  background-color: #dbdbdb;
}


.eventoImage{
  max-width: 128px;
  max-height: 128px;

  margin-right: 20px;
}

.asisten{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.asisten p{
  margin: auto;
  padding-bottom: 10px;
}

.asisten div{
  margin: auto;
}

.eventoInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 20px;
}

.eventoInfo h3{
  color: #d52429;
  margin-bottom: -10px;
}

.eventoInfo p{
  color: black;
}

.buttonEvent{
  width: 50%;
}

.asistencias{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 72px;
  max-width: 72px;
  height: 72px;
  max-height: 72px;

  color: white;
  border: 5px white solid;
  background-color: #586f7c;
	border-radius: 50%;
}

a, a:visited, a:hover, a:active {
  text-decoration: none !important;
}
