.functionsContainer{
  max-width: 450px;
  min-height: 70%;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 35px;

  background-color: white;
  border-radius: 8px;
}

.title{
  color: white;
  font-size: 20px;
  text-align: center;

  margin: 0;
  padding: 5px;
  background-color: #da2429;
  border-radius: 4px;
}

.lineaIconos{
  margin-top: 15px;
  margin-bottom: 15px;
}

.icono{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icono a, a:hover{
  text-decoration: none;
}

.iconoImg{
  width: 128px;
  height: 128px;
  max-width: 128px;
  max-height: 128px;
}
