.policiaContainer{
  max-width: 450px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 35px;
  background-color: white;
  border-radius: 10px;
}

.title{
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color: #da2429;
  text-align: center;
  border-radius: 4px;
}

.funcPolicia{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin: 40px 0;
}

.funcPoliciaMapa{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin: 40px 0;
}

.policiaImage{
  max-width: 128px;
  max-height: 128px;
  margin-right: 10px;
  margin-left: 10px;
}

.policiaButton{
  margin-top: 15px;
  max-width: 250px;
}
